################################################################################
## VM spesific configuration
################################################################################

############################################################
## Display section
##		When use 'VNC', set type='vnc'
##		When use 'SPICE', set type='spice'
##		When running on Desktop PC, set type='sdl'
##		When use console, set type='curses'
##		When headless, set type='none'
##		When redirect console to serial, set type='off'
##		Otherwise an error will occur.
############################################################
[display]
type		= 'vnc'
#type		= 'spice'
#type		= 'sdl'
#type		= 'curses'
#type		= 'virtio'
#type		= 'none'
#type		= 'off'

############################################################
## VNC server section
##		addr		Recommend to set '127.0.0.1'
##				for security reasons.
##				In case of accessing from external network,
##				Please use SSH tunnel.
##		number		VNC Display number. This must be
##				a unique number on the same host.
############################################################
[vnc]
# VNC Server Bind address
addr		= '127.0.0.1'
# VNC display number
number		= '0'
#
############################################################
## SPICE section
##		port		set port number
##		tls		'y' use TLS eencryption
##				'n' not use TLS
##		tls_port	port used TLS connection
##		sasl		'y'	use sasl authentication
##				'n' no authentication
############################################################
[spice]
#port		= 10000
#tls		= 'y'
#tls_port	= 10001
#sasl		= 'y'

############################################################
## Graphics section
##		'std'		max resolution
##		'vmware'	faster than others
##		'cirrus'	high compatibility
##		'virtio'	use virtio-gpu module
##		'qxl'		set this automatically when using 'SPICE'
##		'none'		Do Not Use Graphical console
## * When using 'SPICE', this option will be ignored.
############################################################
[graphics]
type		= 'std'

############################################################
## NUMA
##		is_numa		'y' simulate a numa system
##				'n' not
##		numa_opts	numa option
############################################################
[numa]
is_numa		= 'n'
numa_opts	= 'node'

############################################################
## Memory section
##		vmem	Set amount of memory used by VM
##		huge	'y' use huge memory page
##		share	'y' share huge memory between host and guest
##		sharemem set amount of shared memory when share 'y'
##		prealloc pre-allocate memory when huge 'y'
############################################################
[memory]
vmem		= 1024
huge		= 'n'
share		= 'n'
sharemem	= 4096
prealloc	= 'n'

############################################################
## BIOS section
##		menu	if 'y', display bios menu
##		file	BIOS binary file name
##		type	'0', '1','2','3','4','17' or 'uefi'
##		nvram	when type 'uefi', nvram file
##		vendor	when type '0', vendor name
##		version	when type '0' '1' 2' '3' '4', version
##		date	when type '0', date
##		release when type '0', %d.%d
##		manufacturer when type '1' '2' '3' '4' '17', manufacturer
##		product when type '1' '2', product
##		serial  when type '1' '2' '3' '4' '17', serial
##		uuid    when type '1', uuid
##		sku     when type '1' '3', sku
##		family  when type '1', family
##		asset	when type '2' '3' 4' '17', asset
##		location when type '2', location
##		sock	when type '4', sock_pfx
##		part	when type '4' '17', part
##		loc_pfx when type '17', loc_pfx
##		bank	when type '17', bank
##		speed	when type '17', speed=%d
#############################################################
[bios]
menu		= 'n'
file		= ''
type		= ''
nvram		= ''
version		= ''
vender		= ''
data		= ''
release		= ''
manufacturer	= ''
product		= ''
serial		= ''
uuid		= ''
sku		= ''
family		= ''
asset		= ''
location	= ''
sock		= ''
part		= ''
loc_pfx		= ''
bank		= ''
speed		= ''

############################################################
## Disk Section
##		You need multiple disk drives, put numbers of [disk]
##		sections you needs. Drive order depends on listing order here.
############################################################
##	lv	Set lv name or file name used as VM's drive.
##	if	'virtio'	para-virtual device, fastest
##		'virtio-scsi'	para-virtual scsi device
##		'ide'		IDE emulation
##		'scsi'		SCSI emulation
##	fmt	'raw'		Raw format
##		'qcow2'		Qcow2 format
##	aio	'threads'	Disk I/O based on pthreads
##		'native'	Disk I/O based on Linux Natie AIO
##		* if specified if='virtio*', this option will be ignored.
## * VM recognize drives in the exact order you specify here.
############################################################
## First disk
[disk]
lv		= 'vm-root'
if		= 'virtio'
fmt		= 'raw'
aio		= 'native'

## Second disk
[disk]
lv		= 'vm-swap'
if		= 'virtio'
fmt		= 'raw'
aio		= 'native'

############################################################
## Floppy disk section
##	floppy		When using FD image, specify it here
############################################################
[floppy]
#drive1		=
#drive2		=

############################################################
## CD-ROM/DVD section
##	if	CD Interface
##			'ide'	IDE
##			'scsi'	SCSI
##	iso	Specify CD-ROM/DVD image file
############################################################
[cdrom]
if		= 'ide'
iso		= /etc/vmmaestro/img/linux.iso

############################################################
## VirtFS
############################################################
[virtfs]
enable		= n
driver		= local
# driver		= handle
# driver		= proxy
id		= fs01
path		= /path/to/dir
security	= passthrough
# security	= mapped-xattr
# security	= mapped-file
# security	= none
writeout	= n
readonly	= n
sock_fd		= n

############################################################
## Boot order
##	order	'c' Hard Disk
##		'd' CD-ROM
##		'a' First FD
##		'b' Second FD
##		'n' Network boot via first NIC
############################################################
[boot]
#order		= 'cdan'

############################################################
## Network section
##	You need multiple network devices, put numbers of [network]
##	sections you needs. Drive order depends on listing order here.
############################################################
##	type	'tap'		use 'tap' driver
##		'brdige'	use 'bridge' driver
##		'user'		use 'vhost-user' driver
##		'none'		don't use network
##	addr	Specify MAC address. Please use prefix
##			'00:16:3E', which IEEE assigned to XenSource
##			for generating on Xen system.
##			if you prefer, can specify 'random'
##		name	Any name you prefer. This will be also shown
##			in the monitor
##		vlan	set vlan tag
##		model	'virtio'	para-virtual driver, fastest
##					if you'd like to know other options,
##					exec 'qemu-kvm -net nic,model=\?'
##		* When you set vhost to 'y', this setting is ignored
##		  and 'virtio' is always set.
##		bridge	set brdige interface name if you select
##			type 'bridge'
##		if	tap interface name
##		ifup	set helper script when nic is going up
##			* When seting 'nic_type' to 'bridge', ignore this.
##		ifdown	set helper script when nic is going down
##			* When seting 'nic_type' to 'bridge', ignore this.
##		vhost	'y' use vhost-net driver (fast)
##			'n' Do not user vhost-net
##		charid	character device id for OpenVSwitch when type 'user'
##		path	socket path for OpenVSwitch when type 'user'
############################################################
# First NIC
[network]
type		= 'tap'
addr		= '00:16:3E:00:00:00'
name		= 'tap0v1'
vlan		= ''
model		= 'virtio'
bridge		= 'br0'
if		= 'tap0.1'
ifup		= '/etc/vmmaestro/ifup-br0.sh'
ifdown		= '/etc/vmmaestro/ifdown-br0.sh'
vhost 		= 'y'
charid		= 'char01'
path		= '/var/run/openvswitch/vswitch01'
# Second NIC
[network]
type		= 'tap'
addr		= '00:16:3E:00:00:01'
name		= 'tap1v1'
model		= 'virtio'
vlan		= ''
bridge		= 'br1'
if		= 'tap1.1'
ifup		= '/etc/vmmaestro/ifup-br1.sh'
ifdown		= '/etc/vmmaestro/ifdown-br1.sh'
vhost		= 'y'
charid		= 'char11'
path		= '/var/run/openvswitch/vswitch11'

############################################################
## Chroot section
##	chroot	'y'	chroot vm rundir
##			others	chroot others
############################################################
[user]
chroot		=

############################################################
## CPU section
##	model	CPU model
##		'host'	The same as host machine
##			Recommend this
##			if you'd like to know other options,
##			exec 'qemu-kvm -cpu \?'
##	units	Number of CPU units
##	cores	Number of CPU cores per 1 CPU unit
##	threads	Number of CPU threads
##	sockets	Number of CPU soclets
##	iswinguest	Set 1 when Windows guest
############################################################
[cpu]
model	 	= 'host'
units	 	= 1
#cores	 	= 2
#threads 	= 2
#sockets 	= 1
#iswinguest	= 0

############################################################
## Misc
##	args	Additional QEMU parameters
############################################################
[misc]
args		= ''
