################################################################
###  vmmaestro - system default settings
################################################################

############################################################
## Disk Storage
##              Set volume group name for VM disks
############################################################
[vg]
name		= 'vm'

############################################################
## Clock
##		use_utctime	When using DOS or Windows, set 'n'
##		sync_host	When syncing clock with host, set 'y'
############################################################
[clock]
utctime		= 'y'
sync_host	= 'y'

############################################################
## Memory
##		auto		When enabling automatic balooning, set 'y'
##				note: need automatic memory ballooning patch applied.
############################################################
[memory]
auto		= 'n'

############################################################
## Keyboard Settings
##		lang		Keyboard mapping. Default is 'en-us'
############################################################
[keyboard]
lang		= 'en-us'

############################################################
## User
##		runas		Set user when KVM doesn't run as root
##		chroot	'y'	Set root dir to RUNDIR/$vm
##			others	Set root dir to others
############################################################
[user]
runas		= 'kvm'
chroot		=

############################################################
## Certificate
##		SSLDIR		Set when using 'SPICE'.
##					this dir is set proper permisstions
##					so that $runas user can read
############################################################
[ssl]
#SSLDIR		= /etc/vmmaestro/ssl
SSLDIR		= /home/$runas/.qemu/ssl

############################################################
## SASL_CONF_PATH
##		Set s sasl configuration file path QEMU use
## * Need 'export'
############################################################
[sasl]
#SASL_CONF_PATH	= /etc/sasl2/qemu.conf
SASL_CONF_PATH	= /home/$runas/.qemu/sasl2/sasl2.conf

####################################################################################
# DO NOT MODIFY BELOW UNLESS YOU KNOW WHAT YOU DO!!
############################################################
[system]
## Base Settings
RUNDIR		= /var/run/vmmaestro
############################################################
#QEMU		= 'qemu-system-x86_64'
QEMU		= 'kvm'
####################################################################################
