################################################################
###  vmmaestro - system default settings
################################################################

############################################################
## Disk Storage
##              Set volume group name for VM disks
############################################################
[vg]
name		= 'vm'

############################################################
## Display type
##		When use 'VNC', set display='vnc'
##		When use 'SPICE', set display='spice'
##		Otherwise an error will occur.
############################################################
[display]
type		= 'vnc'
#type		= 'spice'
############################################################
## VNC server setting
##		addr		Recommend to set '127.0.0.1'
##				for security reasons.
##				In case of accessing from external network,
##				Please use SSH tunnel.
##		number		VNC Display number. This must be
##				a unique number on the same host.
############################################################
[vnc]
# VNC Server Bind address
addr		= '127.0.0.1'
#
############################################################
## SPICE using port
##		addr		set bind address
##		port		set port number
##		use_tls		'y' use TLS eencryption
##				'n' not use TLS
##		tls_port	port used TLS connection
############################################################
[spice]
addr		= '127.0.0.1'

############################################################
## Graphics
##		'std'		max resolution
##		'vmware'	faster than others
##		'cirrus'	high compatibility
##		'qxl'		set this automatically when using 'SPICE'
##		'none'		Do Not Use Graphical console
## * When using 'SPICE', this option will be ignored.
############################################################
[graphics]
type		= 'std'

############################################################
## CPU
##		model		CPU model
##					'host'		The same as host machine
##							Recommend this
##					if you'd like to know other options,
##					exec 'qemu-kvm -cpu \?'
##		units		Number of CPU units
##		cores		Number of CPU cores per socket
##		threads		Number of CPU threads per core
##		sockets		Number of CPU soclets
############################################################
[cpu]
model		= 'host'
units		= 1
#cores		= 2
#threads	= 2
#sockets	= 1

############################################################
## Memory Settings (MB)
##		vmem		Set amount of memory used by VM
##		use_balolon	'y' activate memory ballooning
##				'n' fixed size memory
############################################################
[memory]
vmem		= 1024
balloon		= 'y'

############################################################
## Clock
##		use_utctime	When using DOS or Windows, set 'n'
##		sync_host	When syncing clock with host, set 'y'
############################################################
[clock]
utctime		= 'y'
sync_host	= 'y'

############################################################
## Keyboard Settings
##		lang		Keyboard mapping. Default is 'en-us'
############################################################
[keyboard]
lang		= 'en-us'

############################################################
## User
##		runas		Set user when KVM doesn't run as root
##		chroot	'y'	Set root dir to RUNDIR/$vm
##			others	Set root dir to others
############################################################
[user]
runas		= 'kvm'
chroot		=

############################################################
## Certificate
##		SSLDIR		Set when using 'SPICE'.
##					this dir is set proper permisstions
##					so that $runas user can read
############################################################
[ssl]
#SSLDIR		= /etc/vmmaestro/ssl
SSLDIR		= /home/$runas/.qemu/ssl

############################################################
## SASL_CONF_PATH
##		Set s sasl configuration file path QEMU use
## * Need 'export'
############################################################
[sasl]
#SASL_CONF_PATH	= /etc/sasl2/qemu.conf
SASL_CONF_PATH	= /home/$runas/.qemu/sasl2/sasl2.conf

####################################################################################
# DO NOT MODIFY BELOW UNLESS YOU KNOW WHAT YOU DO!!
############################################################
[system]
## Base Settings
RUNDIR		= /var/run/vmmaestro
############################################################
#QEMU		= 'qemu-system-x86_64'
QEMU		= 'kvm'
####################################################################################
